
.homepage {
  height: 100vh; 
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  /* text-align: center; */
}

.homepage-project {
  background-size: cover;
  background-position: center;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}


.header {
  margin-top: 20px;
}
.letter {
  display: inline-block;
  transition: all 0.3s ease;
}
.letter:hover {
  transform: scale(1.2);
  color: #db3434;
  text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.3);
}

.header-button {
  padding-top: 2%;
  padding-bottom: 2%;
  background: transparent;
  padding-left: 3%;
  border: none;
  color: white
}

.white-text {
  color: white;
  font-size: 18px;
  max-width: 600px; /* Adjust as needed */
  line-height: 1.6;
}

.content {
  margin-top:10%;
  margin-left: 5%;
  margin-right: 5%;
}


.no-focus:focus {
  outline: none;
  box-shadow: none;
  border: none;
}

.image-button img {
  width: 30px; /* Adjust image size */
  height: 30px;
  background-color: transparent; /* No background color */
  border: none; /* No border */
  transition: transform 0.3s ease; /* Smooth transition for scaling */
}

.image-button img:hover {
  transform: scale(1.2); /* Increase scale on hover */
}

.background-overlay {
  position: absolute;
  
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5); /* Adjust the opacity here (0.5 is 50% opacity) */
}

.responsive-button {
    border: 1px solid rgb(182, 32, 32);
    border-radius: 5px;
    color: rgb(182, 32, 32);
    background-color: transparent;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Smooth transition for hiding/showing */
}
  
  .responsive-button:hover {
    background-color: rgb(182, 32, 32);
    color: white;
  }

  
  /* Media query to hide the button on small screens */
  @media (max-width: 600px) {
    .responsive-button {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  /* Ensure the button is visible on larger screens */
  @media (min-width: 601px) {
    .responsive-button {
      opacity: 1;
      visibility: visible;
    }
  }

.image-button {
  width: 20;
  height: 20;
  position: relative;
  display: inline-block; /* Ensures button size adjusts to content */
  overflow: hidden; /* Prevents overflow cropping */
}

.image-button img {
  height: 20px;
  width: 20px;
  transition: transform 0.2s ease-out;
}

.image-button:hover img {
  transform: scale(1.1); /* Example: scale up image on hover */
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

.fade-in {
  animation: fadeIn 1s ease-in;
}


.zoom-in {
  opacity: 0;
  transform: scale(0);
  animation: zoomIn 1s forwards;
}

@keyframes zoomIn {
  to {
    opacity: 1;
    transform: scale(1);
  }
}