.button-group-container {
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align buttons to start of the container */
}

.button-item {
    background-color: transparent;
    border: none;
    color: #000; /* Default text color */
    padding: 10px; /* Adjust padding as needed */
    width: 100%;
    text-align: left;
    margin: 5px 0; /* Adjust margin as needed */
    cursor: pointer;
    outline: none;
    transition: color 0.3s ease, background-color 0.3s ease; /* Smooth transition for color and background */
}

.button-item:hover {
    background-color: rgb(247, 134, 134) !important; /* Change text color on hover */
}

.button-item.active {
    /* Define styles for active state if needed */
    background-color: rgb(238, 183, 183);
    color: rgb(182, 32, 32);
}


.indicator-container {
    display: flex;
    flex-direction: column;
    position: fixed;
    align-items: center;
}

.indicator {
    width: 5px; /* Adjust width of indicator */
    height: 54px; /* Adjust height of indicator */
    background-color: #a3a3a3; /* Default indicator color */
    /* border-radius: 50%; Shape of the indicator */
    transition: background-color 0.3s ease; /* Smooth transition for color change */
}

.indicator.active {
    background-color: rgb(182, 32, 32); /* Active indicator color */
    width: 10px;
}

.experience-div {
    width: 100%;
    max-width: 100%;
}