.button-group-scroll {
    width: 100%; /* Ensure the scroll container takes full width */
    margin-left: 1%;
}

.button-group-container {
    width: 100%; /* Ensure the button container takes full width */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.button-item {
    background-color: transparent;
    border: 1px solid rgb(255, 121, 31);
    color: rgb(255, 121, 31);
    padding: 10px;
    width: 100%; /* Make button take full width */
    text-align: left;
    margin: 5px 0;
    outline: none;
    transition: color 0.3s ease, background-color 1s ease;
}

.button-item:hover {
    background-color: rgb(238, 183, 183);
    color: black;
}

.button-item.active {
    background-color: rgb(247, 134, 134) !important;
    color: black;
}

.indicator-container {
    padding-top: 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.indicator {
    width: 5px;
    height: 56px;
    background-color: #a3a3a3;
    transition: background-color 0.3s ease;
}

.indicator.active {
    background-color: rgb(255, 121, 31);
}

.experience-div {
    width: 100%;
    max-width: 100%;
}
.popout-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: center; 
    align-items: flex-start; /* Align to the top */
    z-index: 1000;
    opacity: 0;
    transition: opacity 0.3s ease;
    pointer-events: none;
    padding-top: 10%; /* Add padding to the top */
    overflow: auto;
}

.popout-container.show {
    opacity: 1;
    pointer-events: all;
}

.popout-content {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transform: scale(0.9);
    transition: transform 0.3s ease, width 0.3s ease; /* Added width transition */
    width: 80%;
    max-width: 600px; /* Optional: Set max-width for responsive design */
    margin-top: 20px; /* Add margin to the top */
    margin-bottom: 20px; /* Add margin to the bottom to ensure it's not cut off */
}

.popout-container.show .popout-content {
    transform: scale(1);
}


h4 {
    width: 100%; /* Set popout width to 50% */
    max-width: 600px;
    color: black;
}
.info-h5-header {
    width: 100%; /* Set popout width to 50% */
    color: rgb(255, 121, 31);
    padding-left: 20px;
    max-width: 600px;
}