.container {
    margin-left: 5%;
    margin-right: 5%;
}

.link-button {
    border: 1px solid rgb(255, 121, 31);
    margin:1%;
    border-radius: 10px;
    transition: all 0.3s ease;
    height:fit-content;
    /* background-color: rgba(78, 78, 78, 0.4); */
    background-color: transparent;
    font-weight: bold;
    color: rgb(255, 121, 31);

}
.link-button:hover {
    transform: scale(1.1);
}

