/* src/components/HomePage.css */

.homepage {
    height: 100vh; /* Full viewport height */
    background-image: url('red-bg.png');
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  .header {
    margin-top: 20px;
  }
  
  .white-text {
    color: white;
    font-size: 18px;
    max-width: 600px; /* Adjust as needed */
    margin: 20px;
    line-height: 1.6;
  }
  