.scroll-sidebar {
    position: fixed;
    top: 50px; /* Adjust top position as needed */
    left: 0;
    width: 120px; /* Adjust width as needed */
    height: 100%; /* Full height of the viewport */
    background-color: rgb(182, 32, 32);
    overflow-y: auto;
    padding-left: 10px;
    padding-right: 10px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out; /* Smooth transition for hiding/showing */
}

.scroll-sidebar nav ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.scroll-sidebar nav ul li {
    padding-top: 20px;
    /* margin-bottom: 10px; */
}

.scroll-sidebar nav ul li a {
    text-decoration: none;
    color: #333;
    display: block;
    /* padding: 8px 0; */
    transition: background-color 0.3s;
}

.scroll-sidebar nav ul li a:hover {
    background-color: #ddd;
}

.scroll-sidebar button {
    background-color: transparent;
    border: 1px solid white;
    border-radius: 5px;
    color: white;
    width: 100%;
}

.sidebar-button:hover {
    color: black;
    background-color: white;
}


@media (max-width: 1000px) {
    .scroll-sidebar {
      opacity: 0;
      visibility: hidden;
    }
  }
  
  /* Ensure the button is visible on larger screens */
  @media (min-width: 1001px) {
    .scroll-sidebar {
      opacity: 1;
      visibility: visible;
    }
  }