/* src/Sidebar.css */

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    width: 10%;
    min-width: 60px; /* Set your desired minimum width */
    max-width: 5%;
    margin-right: 0%;
    margin-top: 20;
    height: 100%;
    background-color: rgb(182, 32, 32);
    /* background-color: transparent; */
    color: black;
    padding: 20px;
    box-sizing: border-box; /* Ensures padding is included in the width calculation */
    transition: 0.3s ease-in-out; /* Smooth transition for hiding/showing */
  }


  .rotated-items {
    display: flex; 
    /* flex-direction: column; Arrange items vertically */
    transform: rotate(90deg); /* Rotate all items by 90 degrees */
}

.rotated-text {
  white-space: nowrap; /* ensure text doesn't wrap */
}

.rotated-text-2 {
  white-space: nowrap; /* ensure text doesn't wrap */
}

.btn {
  white-space: nowrap; /* ensure text doesn't wrap */
}

  /* Media query to hide the sidebar on small screens */
  @media (max-width: 600px) {
    .sidebar {
        opacity: 0;
        visibility: hidden;
    }
  }
  
  /* Ensure the button is visible on larger screens */
  @media (min-width: 601px) {
    .sidebar {
      opacity: 1;
      visibility: visible;
    }
  }

  @media (max-height: 600px) {
    .sidebar {
        opacity: 0;
        visibility: hidden;
    }
  }
  
  /* Ensure the button is visible on larger screens */
  @media (min-height: 601px) {
    .sidebar {
      opacity: 1;
      visibility: visible;
    }
  }