/* src/Sidebar.css */

.sidebar {
  position: fixed;
  top: 0;
  right: 0;
  width: 90px;
  height: 100%;
  background-color: rgb(182, 32, 32);
  transition: transform 0.3s ease;
}

.rotated-items {
  display: flex; 
  transform: rotate(90deg); /* Rotate all items by 90 degrees */
}


.rotated-text, .rotated-text-2, .btn {
  white-space: nowrap; /* Ensure text doesn't wrap */
}

/* Media query to hide the sidebar on small screens */
@media (max-width: 600px) {
  .sidebar {
    transform: translateX(100%);
  }
}

/* Ensure the button is visible on larger screens */
@media (min-width: 601px) {
  .sidebar {
      opacity: 1;
      visibility: visible;
  }
}

/* Media query to hide the sidebar on small height screens */
@media (max-height: 600px) {
  .sidebar {
      opacity: 0;
      visibility: hidden;
  }
}

/* Ensure the button is visible on larger height screens */
@media (min-height: 601px) {
  .sidebar {
      opacity: 1;
      visibility: visible;
  }
}
